<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube comments initial page</title>
</head>
<body>
    <h1>Please add to the current url the id of the chosen youtube-video and number of comments</h1>

    <h3>Use the following template: "http://127.0.0.1:3000/video_id=YOUTUBE_VIDEO_ID/max_comments=NUMBER_OF_COMMENTS"</h3>
    <h3>where YOUTUBE_VIDEO_ID is the video id and NUMBER_OF_COMMENTS is the desired number of comments you want to be shown</h3>
</body>
</html>